<mat-toolbar 
  fxLayoutAlign="space-around center" 
  color="primary">

  <button fxShow="true" fxHide.gt-xs="true" mat-icon-button aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>My Car Rental</span>

  <div fxShow="false" fxHide.gt-xs="false">
    <a mat-button routerLink="/">Home</a>
  </div>

  <span class="example-spacer"></span>

  <button mat-icon-button>

    <a mat-icon-button fxLayoutAlign="space-around center" routerLink="/basket">
      <mat-icon 
      [matBadge]="carInBasket | async" 
      matBadgeSize="small" 
      matBadgeColor="warn">
      shopping_cart
    </mat-icon>
    </a>

  </button>
  
</mat-toolbar>