/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}

body {
  background-color: #f0f2f5;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.main {
  padding: 0px 10px;
  max-width: 1250px;
  margin: 0 auto;
}

.container {
  margin: 20px 0;
}

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

tr.mat-footer-row {
  font-weight: bold;
}
